# Import Aspect bazelrc presets
try-import %workspace%/.aspect/bazelrc/bazel7.bazelrc # will only work in bazel7+
import %workspace%/.aspect/bazelrc/bazel6.bazelrc # will only work in bazel6+
import %workspace%/.aspect/bazelrc/convenience.bazelrc
import %workspace%/.aspect/bazelrc/correctness.bazelrc
import %workspace%/.aspect/bazelrc/debug.bazelrc
import %workspace%/.aspect/bazelrc/performance.bazelrc

# Specific project flags go here if we have some
common --incompatible_enable_proto_toolchain_resolution

# register toolchains with prebuilts
common:prebuilt-toolchain --extra_toolchains=@bazeldnf_toolchains//:all

common:built-toolchain --extra_toolchains=//cmd:bazeldnf-host-toolchain

common --enable_bzlmod

# Load any settings & overrides specific to the current user from `.bazelrc.user`.
# This file should appear in `.gitignore` so that settings are not shared with team members. This
# should be last statement in this config so the user configuration is able to overwrite flags from
# this file. See https://bazel.build/configure/best-practices#bazelrc-file.
try-import %workspace%/.bazelrc.user
