docs/*.md linguist-generated=true

# Configuration for 'git archive'
# see https://git-scm.com/docs/git-archive/2.40.0#ATTRIBUTES
# Exclude a bunch of paths to save some disk space
e2e/bazel-bzlmod-* export-ignore
e2e/bazel-workspace* export-ignore
.github export-ignore
pkg/*/testdata export-ignore
tools/release export-ignore
