/bazel-*
/e2e/*/bazel-*
/.idea
repo.yaml
.bazeldnf
dist
cmd/cmd
.bazelrc.user

# temporary files from MODULE.bazel
MODULE.bazel.lock

# this is where we store the release artifacts, so we can ignore it
tools/release
