#!/usr/bin/env bash

set -euo pipefail

BAZELDNF_SHORT_PATH="${BASH_SOURCE[0]}.runfiles/@@BAZELDNF_SHORT_PATH@@"
ARGS=@@ARGS@@
bazeldnf_short_path=$(readlink "$BAZELDNF_SHORT_PATH")

if [ ! -z "${BUILD_WORKSPACE_DIRECTORY-}" ]; then
  cd ${BUILD_WORKSPACE_DIRECTORY}
fi

"$bazeldnf_short_path" ${ARGS[@]+"${ARGS[@]}"} "$@"
